#fabricCanavs {
    background-color: white;
    overflow-y: hidden;
    position: relative;
  }

  .toolBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* Adjust the width as needed */
    padding: 10px;
    background-color: #f0f2f5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .title {
    background-color: #05b55f;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .patternBtn,
  .toolBtn {
    background-color: #4299e1;
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    height: 45px;
  }

  .patternBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* Adjust the width as needed */
    padding: 10px;
    background-color: #f0f2f5;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }

  .colorPallet {
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: 99;
    display: flex;
  }
  .colors {
    display: flex;
  }
  .colorBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
  }
  .toolBtn.active {
    background-color: #1a202c;
  }
  .colorBtn.active {
    border: #05b55f 2px solid;
  }
  .patternBtn.active {
    border: #05b55f 2px solid;
  }